<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_0.xsd"
             version="2.1">
    <persistence-unit name="default">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <!--@todo переделать на использование JNDI и DataSource'ов-->
        <!--<jta-data-source>jdbc/CRMRetail</jta-data-source>-->

        <class>models.pojo.Call</class>
        <class>models.pojo.CallX</class>
        <class>models.pojo.Asset</class>
        <class>models.pojo.AssetX</class>
        <class>models.pojo.SiebelBaseEntity</class>
        <class>models.pojo.Contact</class>
        <class>models.pojo.Product</class>
        <class>models.pojo.Credential</class>
        <class>models.pojo.AdmDelivery</class>
        <class>models.pojo.MessageLog</class>
        <class>models.pojo.SrTheme</class>
        <class>models.pojo.CxAdmReqSubj</class>

        <exclude-unlisted-classes>true</exclude-unlisted-classes>

        <properties>
            <property name="hibernate.format_sql" value="true"/>
            <property name="hibernate.use_sql_comments" value="true"/>

            <property name="hibernate.dialect" value="org.hibernate.dialect.Oracle10gDialect" />

            <!--
            <property name="hibernate.connection.driver_class" value="oracle.jdbc.OracleDriver"/>
            <property name="hibernate.connection.url" value="jdbc:oracle:thin:@h12-ld2.cgs.sbrf.ru:1521:crost1"/>
            <property name="hibernate.connection.username" value="SIEBEL"/>
            <property name="hibernate.connection.password" value=""/>
            -->

            <property name="hibernate.show_sql" value="true" />
            <property name="hibernate.connection.driver_class" value="oracle.jdbc.OracleDriver"/>
        </properties>
    </persistence-unit>
</persistence>
