CLIENT_MDM_ID;AGREEMENT_COUNT;CREDIT_TYPE;CREDIT AGREEMENT;DATE_OF_ CREDIT_ISSUE;BANK;CREDIT_AMOUNT_INITIAL;CURRENCY;CREDITING_PERIOD_MONTHS;BASIC_RATE;ANNUITY_PAYMENT;ID_CREDIT_HISTORY;ID_AGREEMENTS;ID_CREDIT_ACCOUNT;PLAN_REPAYMENT_DATE;FULL_EARLY_REPAYMENT_AMOUNT